<div *ngIf=" order$ | async as order">
  <h4>Manage all customer's order</h4>
	<data-table 
		[items]="order"
		[itemCount]="order.length"
		>
		<data-table-column
		 	[property]="'title'"
			[header]="'Order Date'"
			[resizable]="true"
			[sortable]="true">
				<ng-template #dataTableCell let-item="item">
				{{ item.datePlaced| date }}
				</ng-template>
		</data-table-column>
		<data-table-column
		 	[property]="'fullName'"
			[header]="'Customer Name'"
			[resizable]="true"
			[sortable]="true">
				<ng-template #dataTableCell let-item="item">
				{{ item.shipping.fullName }}
				</ng-template>
		</data-table-column>
		<data-table-column 
			[property]="'$key'"
			[header]="'View Order Detail'">
				<ng-template #dataTableCell let-item="item">
					<a [routerLink]="['/my/orders/',item.$key]"> View Order </a>
				</ng-template>
		</data-table-column>
	</data-table>
</div>
